################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeAalysisSample/obj
/CodeAalysisSample/.vs/ForCodeAnalyaisTest/v16/Server/sqlite3
/CodeAalysisSample/bin/Debug/netcoreapp3.1
